image: python:3.13

services:
  - postgres:16

variables:
  POSTGRES_DB: sodar_django_site
  POSTGRES_USER: sodar_django_site
  POSTGRES_PASSWORD: sodar_django_site
  DATABASE_URL: postgres://sodar_django_site:sodar_django_site@postgres/sodar_django_site
  DEBIAN_FRONTEND: noninteractive

before_script:
  # SSH setup taken from https://gitlab.com/gitlab-examples/ssh-private-key
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY")
  - mkdir -p ~/.ssh
  - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config

  - sh ./utility/install_os_gitlab.sh
  - sh ./utility/install_chrome_gitlab.sh
  - python3 -m venv ./env
  - source env/bin/activate
  - pip3 install "wheel>=0.45.1, <0.46"
  - pip3 install -r ./requirements/local.txt
  - pip3 install -r ./requirements/test.txt

all_tests:
  script:
    - python3 manage.py geticons
    - python3 manage.py collectstatic --noinput
    - coverage run --source="." manage.py test -v 2 --settings=config.settings.test
    - coverage report
    - make black arg=--check
    - flake8 .
  when: on_success
